
@media (min-width: 576px){
.navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-between;
}
.log{
    justify-content: flex-end;
}
.carousel-item {
    height: 32rem;
}
.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
#bgcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round{
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    text-align: center;
}

.background{
    /* opacity: 0.5; */
    z-index: 0;
}

.auth-box{
display: none;
}
.auth-box.active{
    display: block;
    width: 30rem;
    height: 20rem;
    position: relative;
    margin: 120px auto;
    z-index: 100;
}

.auth-box{
    display: none;
    }
.auth-box.active{
    display: block;
    width: 30rem;
    height: 20rem;
    position: relative;
    margin: 120px auto;
    z-index: 100;
}
text{
    font-size: 4rem;
    font-weight: 700;
    fill:#007bff;
}

.log-box{
    display: none;
    }
.log-box.active{
    display: block;
    width: 30rem;
    height: 20rem;
    position: relative;
    margin: 120px auto;
    z-index: 100;
}
.new-block{
    display: flex;
    flex-direction: row;
}
.logo {
flex-shrink: 0;
margin-right: 12px;
width: 3.5rem;
height: 3.5rem;
background: dimgrey;
}

.form-control{
    margin-top: 0.5rem;
    width: 80%;
}
textarea{
    width: 70%;
}
pre{
    padding: 7px;
    border: 1 px solid salmon;
    background: sandybrown;
}