
@media (min-width: 576px){
.navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-between;
}
}
.log{
    justify-content: flex-end;
}
.carousel-item {
    height: 32rem;
}
.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
#bgcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round{
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    text-align: center;
}

.background{
    /* opacity: 0.5; */
    z-index: 0;
}

/* .auth-box{
display: none;
} */
.form-row{
    padding-right: 15px;
    padding-left: 15px;
}
.form-control{
    margin-top: 0rem;
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 0;
}
.btn{
    margin-top: 1rem;
}
.btn-secondary{
    margin-bottom: 2rem;
}
.auth-box.active{
    display: block;
    width: 30rem;
    height: 25rem;
    position: relative;
    margin: 120px auto;
    z-index: 100;
}
.auth-box{
    display: none;
    }
.auth-box.active{
    display: block;
    width: 30rem;
    height: 23rem;
    position: relative;
    margin: 120px auto;
    z-index: 100;
}
text{
    font-size: 2rem;
    font-weight: 700;
    fill:#007bff;
}
.logform{
    padding-top: 50px;
}
.log-box{
    display: none;
    }
.log-box.active{
    display: block;
    width: 30rem;
    height: 25rem;
    position: relative;
    margin: 120px auto;
    z-index: 100;
}
.new-block{
    display: flex;
    flex-direction: row;
}
.logo {
flex-shrink: 0;
margin-right: 12px;
width: 3.5rem;
height: 3.5rem;
background: dimgrey;
}

.form-control{
    margin-top: 0.5rem;
    width: 80%;
}
textarea{
    width: 70%;
}
pre{
    padding: 7px;
    border: 1 px solid salmon;
    background: sandybrown;
}
.template{
    display: none;
}
.date-list{
    display: none;
}
.col-sm{
    border:#eee solid 1px;
    border-radius: 5px;
    margin: 2px;
}


  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }


  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  /* .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
} */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0.5rem;
}